.Chat {
  text-align: center;

}

.chat-header {
  background-color: pink;
  min-height: 100vh;
  max-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.chat-timeline{
  width: 100%;
  display:flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  flex-grow: 1;

}

.user-input {
  display: flex;
  width: 90%;
  flex-grow: 0;
  margin: 1em auto 2em;
}

.chat-bubble-area {
  display: flex;
  flex-flow: column nowrap;
  overflow: auto;
  overscroll-behavior: contain;
  width: 100%;
}

.chat-bubble {
  margin: 5em;
  padding: 1em;
  max-width: 60%;
  background-color: rgba(0, 0, 0, 0.1);
}

.chat-bubble.user {
  align-self: right;
}
.chat-bubble.assistant {
  align-self: left;
}
